.swa h1 {
  font-size: 20px;
}

.is {
  color: black;
}

.text-1 {
  animation: text1;
  color: #004aad;
}

.text-2 {
  animation: text2;
  color: #004aad;
}

.text-1, .text-2 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  animation-duration: 10s;
  animation-timing-function: steps(1, 20);
  animation-iteration-count: infinite;
}

.text-1::after, .text-2::after {
  content: "";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 10s;
  animation-timing-function: steps(1, 20);
}

@keyframes text2 {
  0%, 50%, 100% {
    width: 0;
  }
  60%, 90% {
    width: 17em;
  }
}

@keyframes text1 {
  0%, 50%, 100% {
    width: 0;
  }
  10%, 40% {
    width: 17em;
  }
}

@keyframes caret {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

